<div class="ROCOGazette">

<h1 class="ROCOGazetteHeading"><%= OLSKLocalized('ROCOGazetteHeadingText') %></h1>

<%- include('./node_modules/OLSKFollow/main.ejs') %>

<%- include('./node_modules/ROCOBulletin/main.ejs', {
	ROCOBulletinProject,
}) %>

</div>
