<div class="ROCOGazette OLSKDecorModule">

<h2 class="ROCOGazetteHeading"><%= OLSKLocalized('ROCOGazetteHeadingText') %></h2>

<%- include(`${ _OLSKModulesDirPrefix }./node_modules/OLSKFollow/main.ejs`) %>

<%- include(`${ _OLSKModulesDirPrefix }./node_modules/ROCOBulletin/main.ejs`, {
	ROCOBulletinProject,
}) %>

</div>
