<div class="ROCOGazette OLSKDecorModule">

<h2 class="ROCOGazetteHeading"><%= OLSKLocalized('ROCOGazetteHeadingText') %></h2>

<%- include(`${ _OLSKModulesDirPrefix }./node_modules/OLSKFollow/main.ejs`) %>

<% if (locals.ROCOGazetteFeedback) { -%>
	<p class="ROCOGazetteBulletinFeedback OLSKCommonAlert"><%= locals.ROCOGazetteFeedback %></p>
<% } else { -%>
	<%- include(`${ _OLSKModulesDirPrefix }./node_modules/ROCOBulletin/main.ejs`, {
		ROCOBulletinProject,
	}) %>
<% } -%>

</div>
